h2 {
    color: aquamarine;
}

.genres {
    display: flex;
    flex-wrap: wrap;
}

.genre {
    background-color: rgb(255, 134, 134);
    color: white;
    padding: 15px 25px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.genre:hover {
    transform: scale(1.1);
}

.genre.selected {
    background-color: darkred;
    animation: float 3s ease-in-out infinite;
}


.movie-genres .genre {
    background-color: rgb(99, 99, 236);
}

.movie-genres .genre.selected {
    background-color: darkblue;
}

.related-movies .genre {
    background-color: blue;
    color: white;
}

.related-movies .genre.selected {
    background-color: darkblue;
}


.music-genres .genre {
    background-color: rgb(89, 156, 89);
    color: white;
}

.music-genres .genre.selected {
    background-color: darkgreen;
}

.related-artists .genre {
    background-color: green;
    color: white;
}

.related-artists .genre.selected {
    background-color: darkgreen;
}


@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}


.submit-button {
    text-align: center;
    margin: 20px 0;
}

.submit-button button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.submit-button button:hover {
    transform: scale(1.1);
}



.selected-genres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.selected-genre {
    background-color: #0099cc;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.selected-genre span {
    margin-left: 5px;
    cursor: pointer;
}


.gender-selector {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.gender-selector label {
    font-size: 18px;
}

.gender-selector input[type="radio"] {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}