.app {
    display: flex;
}

.content {
    flex-grow: 1;
    background-color: black;
}

.app {
    display: flex;
    height: 100vh;
}

body {
    color: white;
}

p {
    color: white;
}

h1 {
    color: white;
}