/* Establece el color de fondo y el color del texto de la barra de navegación en modo oscuro */
.navbar {
  background-color: #18191a; /* Color de fondo en modo oscuro */
  color: #fff; /* Color del texto en modo oscuro */
}

/* Alinea los elementos de la barra de navegación y agrega un relleno */
.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px; /* Ajusta el relleno según tus preferencias */
}

/* Estilos para el icono en modo oscuro */
.icon {
  font-size: 24px; /* Ajusta el tamaño del icono según tus necesidades */
  margin-right: 10px;
  color: #1877f2; /* Color del icono en modo oscuro */
}

/* Estilos para la información del usuario en modo oscuro */
.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 32px; /* Ajusta el tamaño del avatar según tus necesidades */
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Establece la posición fija de la barra de navegación */
.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Transformación para escalar la barra de navegación */
.navbar {
  transform: scaleY(1); /* Cambia 0.5 a 1 para que no se reduzca la altura */
  transform-origin: top;
}
